#down {float: right; border-radius: .6em .6em 0 0; border-width: .04em .04em 0 .04em; margin-right: .2em}
#next {float: right; border-radius: .6em 0 0 0; border-width: .04em 0 0 .04em}
#prev {float: left; border-radius: 0 .6em 0 0; border-width: .04em .04em 0 0}
#prev, #next, #up, #down {font-size: 2em; border-style: solid; border-color: #777; color: #bbb; padding: .2em .8em .2em .8em}
#prev:hover, #next:hover, #up:hover, #down:hover {background-color: #333}
#up {right: 3em; top: 0; border-radius: 0 0 .6em .6em; border-width: 0 .04em .04em .04em; position: fixed}
.abstract {border-radius: .5em; border: 1px solid #888; background: repeating-linear-gradient(-45deg, #888, #888 1px, transparent 1px, transparent 18px)}
.blocked {background: repeating-linear-gradient(315deg, #f00, #f00 6em, transparent 6em, transparent 8em); color: #fff; border: 1px solid red}
.bold {font-weight: bold}
.bottom-bar .stats {border-width: 1px 1px 0 1px; display: inline-block; border-style: solid; border-color: #555; border-radius: .62em .62em 0 0; font-size: 1.3em}
.bottom-bar {position: fixed; bottom: 0; width: 100%; vertical-align: bottom}
.columns {column-width: 83ex; column-gap: 0}
.comment span {background-color: #6ef; color: #000; font-weight: normal; border-radius: .3em; padding: 0; margin: 0}
.comment {display: block; background-color: #000; color: #6ef; font-weight: bold}
.dimmed {opacity: 0.2}
.favicon {position: fixed; top: 0; left: 0; z-index: -1}
.file > .icon {font-size: 2em; background-color: #000; color: #fff}
.image {border: 1px dotted #555; display: inline-block}
.label > span {background-color: #000; color: #ddd; border: 1px solid #444; font-size: .92em; border-radius: .28em}
.link {border: 1px dotted #0cf; margin: 1px}
.name {background-color: #888; color: #000; font-size: .8em; vertical-align: top}
.preembed .icon {position: absolute; left: 45%; top: 32%; font-size: 8em; color: #f00}
.preembed {display: inline-block; position: relative; vertical-align: top; border: 1px dotted red}
.redirectors, .referers {border: 1px dotted #888; border-radius: 0}
.resource {border: 1px solid #333; border-radius: 0 .62em .62em .62em; margin: .1em; vertical-align: top}
.title > span {background-color: #aaa; color: #000; margin: 0; border: 1px solid #555; border-radius: .2em}
.title {display: block; padding: 0}
.title:visited {background-color: #ccc; color: #000}
.top-bar .path a {color: #ddd; font-weight: normal}
.top-bar .path a:last-child {color: #000; background-color: #fff; font-weight: bold; border-radius: 0 0 .3em .3em; margin-top: 0}
.top-bar .path {color: #666}
.top-bar .stats, .top-bar .redirectors, .top-bar .referers {float: right}
.top-bar .tabular {display: block; font-size: .96em}
.top-bar form input {background-color: #282828; color: #eee; border-radius: .5em; border-width: 0; margin: 0; padding: 0; width: 24ex}
.top-bar svg {height: 1em; width: 1em}
.top-bar {border-width: 0 1px 1px 1px; display: inline-block; border-style: solid; border-color: #555; border-radius: 0 0 .62em .62em; vertical-align: top}
.video {max-width: 80em}
.warning a {background-color: #fff; color: #000}
.warning {display: inline-block; background-color: #ff0; color: #000; padding: .2em; margin: .3em; border-radius: .5em}
:target, :target > span {background-color: #2ef !important; color: #000 !important; opacity: 1.0}
a .key {background-color: #226; color: #fff; border-radius: .2em}
a .kv {font-size: 0.92em}
a .kv, a .uri {font-weight: normal}
a .uri {color: #ccc; font-size: 0.86em}
a > span {background-color: inherit}
a {text-decoration: none; border-radius: .2em; color: #fff; font-weight: bold; padding: 0 .125em 0 .125em; margin: 1px; min-width: 1em; min-height: 1em; overflow: hidden}
a, a > span { max-width: 40em }
a.blocked {border: 1px solid white}
a.date {white-space: nowrap; color: #ccc; background-color: #000; font-weight: normal}
a.fragref {padding: .1em .3em .1em .3em; border-radius: .3em; font-size: 1.3em; border: 1px dotted #fef}
a.from, a.to {color: #000}
a.from:visited, a.to:visited {color: #fff}
a.global, a.global .label > span {background-color: #004}
a.global, a.local {border: 1px solid #008; border-radius: .42em; display: inline-block}
a.global:visited, a.local:visited {background-color: #000; border-color: #30f}
a.local, a.local .label > span {background-color: #002}
a.origin {background-color: #444; color: #fff; padding: 0 .2em 0 .2em}
a.pointer, td[property="uri"] a {margin: 0; padding: 0; background-color: #222; color: #fff; border-radius: .5em; font-weight: normal; float: right}
a.pointer:visited, td[property="uri"] a:visited {background-color: #338}
a.to {float: right; margin: 0}
a:visited span.uri {background-color: black}
audio {width: 80ex; float: right}
blockquote blockquote blockquote blockquote {background-color: #aaa; color: #000}
blockquote blockquote blockquote blockquote::before {color: #aaa}
blockquote blockquote blockquote {background-color: #000; color: #fff}
blockquote blockquote blockquote::before {color: #000}
blockquote blockquote {background-color: #fff; color: #000}
blockquote blockquote::before {color: #fff}
blockquote {border-radius: .48em; margin: 2px 2px 2px 12px; border: .1em solid #333; background-color: #222; color: #fff}
blockquote::before {content: '❝'; color: #aaa; margin-left: -14px; font-size: 1.5em}
body {font-family: Noto Sans, DejaVu Sans, sans-serif, sans serif, sans; padding: 0; margin: 0}
body, span {background-color: #000; color: #fff}
body.error > pre > a {color: #fff; font-size: 12ex; text-decoration: none}
body.error > pre {margin: auto; max-width: 120ex; white-space: pre-wrap}
body.error {background: #f00; font-weight: bold}
cite {border: 1px dotted #444; border-radius: .4em; margin: 2px 2px 2px 12px; max-width: 100ex}
cite::before {content: '📚'; color: #666; margin-left: -12px}
code > span { color: #6ef; background-color: #111; padding: 0 0 0 .2em;}
code {border-width: 1px 0 1px 0; border-style: dotted; border-color: #eee}
dd {border-width: 0 0 1px 0; border-style: dotted; border-color: #222}
dt, dt > span, .key, .type {background-color: #222; color: #ccc}
dl, dt, dd, img, video, table, tr, td, .resource {max-width: 100%}
dl, form, ol, ul, table, p, .resource {display: inline-block}
dt {float: left; vertical-align: top; border-width: 0 0 1px 0; border-style: dotted; border-color: #444}
h1 .kv {font-size: .6em}
h1 .kv, h2 .kv, h3 .kv, h4 .kv, h5 .kv, h6 .kv, code .kv {float: right}
h1 a.pointer, h2 a.pointer, h3 a.pointer, h4 a.pointer, h5 a.pointer, h6 a.pointer {position: absolute; right: -1.4em}
h1, h1 > span {background-color: #ccc; color: #000}
h1, h2, h3, h4, h5, h6 {clear: both; padding: 0 0 0 .2em; border-radius: .2em; position: relative; margin-right: 1em}
h2 .kv {font-size: .75em}
h2, h2 > span {background-color: #aaa; color: #000}
h3, h3 > span {background-color: #888; color: #000}
h4, h4 > span {background-color: #666; color: #000}
h5, h5 > span {background-color: #444; color: #fff}
h6, h6 > span {background-color: #222; color: #fff}
hr {margin: 1px 0 1px 0}
img {border-radius: .4em}
li:nth-child(even) {background-color: #000; color: #fff}
li:nth-child(odd) {background-color: #222; color: #fff}
p {border: 1px dotted #444; border-radius: .4em; margin: 2px 2px 2px 12px; max-width: 100ex}
p::before {content: '¶'; color: #666; margin-left: -12px}
pre, code {display: block; white-space: pre-wrap; font-family: Noto Sans Mono, monospace, mono; margin: 0}
span.quote > .quote > .quote {background-color: #777}
span.quote > .quote {background-color: #aaa}
span.quote {background-color: #ccc; color: #000; border-radius: .1em .4em .4em .1em; padding-left: .25em; max-width: 80ex}
span.quote::before {content: '>'; float: left}
table {border-spacing: 1px; border: 1px solid #444}
table.tabular td {border-width: 0 1px 1px 0; border-color: #444; border-radius: 0; border-style: dotted; vertical-align: top}
table.tabular {border: 1px dotted #555}
td.k a, th[scope="row"] a {color: #000; background-color: #a8a8a8; border-color: #a8a8a8; border-radius: .4em 0 0 .4em; max-width: 28ex; padding: 0}
td.k, th[scope="row"] {text-align: right; font-weight: bold}
td[property="#path"] {max-width: 42em; overflow: hidden; white-space: nowrap}
td[property="http://purl.org/dc/terms/Image"] {min-width: 128px}
th {background-color: #383838; color: #fff}
th:first-child {border-radius: .3em 0 0 .3em}
th:last-child {border-radius: 0 .3em .3em 0}
ul, ol, dl, img {margin: 0; padding: 0}
