#datasets {float: left}
#down {right: 4.5em; bottom: 0; border-radius: .6em .6em 0 0; border-width: .04em .04em 0 .04em}
#next {right: 0; bottom: 0; border-radius: .6em 0 0 0; border-width: .04em 0 0 .04em}
#prev {left: 0; bottom: 0; border-radius: 0 .6em 0 0; border-width: .04em .04em 0 0}
#prev, #next, #up, #down {font-size: 2em; border-style: solid; border-color: #777; color: #bbb; padding: .2em .8em .2em .8em; position: fixed}
#prev:hover, #next:hover, #up:hover, #down:hover {background-color: #333}
#up {right: 3em; top: 0; border-radius: 0 0 .6em .6em; border-width: 0 .04em .04em .04em}
#updates {background: repeating-linear-gradient(300deg, #888, #888 1em, #000 1em, #000 2em); border: 1px solid #888; border-radius: 1em; display: block}
.abstract, .abstract span {background-color: #bbb; color: #000}
.blocked {background: repeating-linear-gradient(300deg, #f00, #f00 1em, #000 1em, #000 2em); color: #fff}
.bold {font-weight: bold}
.container > .contents {border: 1px solid #888; border-radius: 0 .4em .4em .4em}
.container > .title {border-color: #888; border-style: solid; border-width: 1px 1px 0 1px; border-radius: .5em .5em 0 0; font-weight: bold; margin: 0; padding: 0 .15em 0 .15em}
.container {margin: .125em}
.dimmed {opacity: 0.2}
.favicon {position: fixed; top: 0; left: 0; z-index: -1}
.file > .icon {font-size: 2em; background-color: #000; color: #fff}
.id {color: #aaa; font-size: .72em; float: right; max-width: 40ex; overflow: hidden}
.interactionCount .count {font-weight: bold; border-radius: 0 .38em .38em 0}
.interactionCount .type {border-radius: .38em 0 0 .38em}
.interactionCount span {background-color: #fff; color: #000; padding: .1em}
.interactionCount {white-space: nowrap; margin: .06em}
.links .host img {max-width: 4em}
.links .host {text-align: right}
.links .path a {font-weight: normal}
.links .path a::first-letter {font-weight: bold; background-color:#aaa; color:#000; border-radius: .18em}
.links {border: 1px dotted #777; border-radius: .5em}
.post .abstract {display: block; border-radius: 0}
.post .title {background-color: #fff; color: #000; border-radius: .5em .2em .2em 0; margin: 0; max-width: 80ex}
.post .to {float: right; margin: 0}
.post a.pointer {font-weight: normal; margin: 0; float: right}
.post {border-width: .12em; border-style: solid; border-color: #666}
.post {margin: 1px; max-width: 96ex}
.post, .post div, p, pre {border-radius: .5em}
.preembed .icon {position: absolute; left: 45%; top: 35%; font-size: 8em; color: #f00}
.preembed {position: relative; vertical-align: top}
.quote > .quote > .quote {background-color: #777}
.quote > .quote {background-color: #aaa}
.stats > span {font-size: .96em; color: #eee}
.stats {background-color: #000; border-radius: 0 0 .5em .5em}
.title:visited {background-color: #ccc; color: #000}
.toolbox .path a {color: #ccc; font-weight: normal; font-size: .88em}
.toolbox .path {color: #666}
.toolbox form input {background-color: #282828; color: #eee; border-radius: .5em; border-width: 0; margin: 0; padding: 0; width: 24ex}
.toolbox svg {height: 1em; width: 1em}
.toolbox {border-width: 0 1px 1px 1px; border-style: solid; border-color: #888; border-radius: 0 0 .7em .7em; padding-right: .125em}
.toolbox, td, li {vertical-align: top}
.video {border: solid .3em #444; background-color: #000; margin: .2em;  border-radius: .5em}
.warning {background-color: #ff0; color: #000; font-size: 1.1em}
:target, :target > span {background-color: #2ef !important; color: #000 !important; opacity: 1.0}
a img, .post .title {float: left}
a span {color: #bbb; font-weight: normal; font-size: 0.82em}
a {text-decoration: none; border-radius: .2em; color: #fff; font-weight: bold; padding: 0 .125em 0 .125em; margin: 1px; max-width: 40em; overflow: hidden; vertical-align: top}
a.date {white-space: nowrap; float: right; color: #ccc; background-color: #000; font-size: .88em; font-weight: normal}
a.global {background-color: #005}
a.global, a.local {border: 1px solid #008; border-radius: .42em; display: inline-block}
a.global:visited, a.local:visited {background-color: #000; border-color: #30f}
a.local {background-color: #003}
audio {width: 80ex; float: right}
blockquote, blockquote > p, .greentext, .original, .quote, .q, .QuotedText {background-color: #ccc; color: #000; border-radius: .1em .4em .4em .1em; padding-left: .25em}
blockquote, ol, p, ul {max-width: 80ex}
blockquote::before, .quote::before {content: '>'; float: left}
body {padding-top: 0; margin: 0}
body, dfn, div[dir="auto"], figcaption, p, pre, .post span, h1, h2, h3, h4, h5, h6 {background-color: #000; color: #fff; font-family: Noto Sans, DejaVu Sans, sans-serif, sans serif, sans}
body.error > pre > a {color: #fff; font-size: 12ex; text-decoration: none}
body.error > pre {margin: auto; max-width: 120ex; white-space: pre-wrap}
body.error {background: #f00; font-weight: bold}
code {color: #000; background-color: #eee; padding: .1em}
div, form, table {display: inline-block}
iframe, .preembed {border: .2em solid #fff}
iframe.main_player {border: .25em solid red}
img, video, table, td {max-width: 100%; border-radius: .4em}
li:nth-child(even), tr:nth-child(even) > td {background-color: #000; color: #fff}
li:nth-child(odd), tr:nth-child(odd) > td {background-color: #222; color: #fff}
p {border-color: #222; border-width: 0; border-style: solid; margin: 1px}
pre, code {white-space: pre-wrap; font-family: Noto Sans Mono, monospace, mono}
pre, ul, ol, blockquote, h1, h2, h3, h4, h5, h6, img {margin: 0}
svg, img[src*="svg"] {max-width:2em; max-height: 2em}
table {border-spacing: 0}
td.k a, th[scope="row"] a {color: #000; background-color: #a8a8a8; border-radius: .4em 0 0 .4em; max-width: 28ex; padding: 0 .1em 0 .1em}
td.k, th[scope="row"] {text-align: right; font-weight: bold}
td[property="http://rdfs.org/sioc/ns#addressed_to"] > a {white-space: nowrap}
video {min-width: 40ex}
