#cf-error-details {background-color: #ff0; color: #000}
#down {background-color: #222; color: #aaa; border-radius: .5em .5em 0 0; font-size: 2em; position: fixed; right: 4.5em; bottom: 0; padding: 0 1.5em 0 1.5em}
#next {right: 0; border-radius: .6em 0 0 0; border-width: .04em 0 0 .04em}
#prev {left: 0; border-radius: 0 .6em 0 0; border-width: .04em .04em 0 0}
#prev, #next {position: fixed; bottom: 0; padding: .2em .8em .2em .8em; color: #eee; font-size: 2.4em; border-style: solid; border-color: #666}
#prev:hover, #next:hover, #up:hover, #down:hover {background-color: #333}
#rootpath {float: left}
#up {background-color: #222; color: #aaa; border-radius: 0 0 .5em .5em; font-size: 2em; position: fixed; right: 3em; top: 0; padding: 0 .8em 0 .8em}
.abstract {display: block; border-radius: 0 .4em 0 0; margin-left: -.2em; padding-left: .125em}
.abstract, .abstract span {background-color: #bbb; color: #000}
.blocked {background: repeating-linear-gradient(0deg, #f03, #f03 1em, #000 1em, #000 2em); color: #fff; border: 1px solid #f03}
.bold {font-weight: bold}
.dimmed {opacity: 0.2}
.favicon {position: fixed; top: 0; left: 0; z-index: -1}
.file > .icon {font-size: 4.2em; background-color: #000; color: #fff}
.file > .name {font-size: .8em; position: absolute; top: 4.8em; left: .4em}
.file {position: relative}
.group > .label {font-weight: bold; font-size: 1.1em; background-color: #000; border-width: .125em .125em 0 .125em; border-radius: .25em .25em 0 0; border-style: solid}
.group > .resources {padding: .2em; border-radius: 0 .3em .3em .3em; border-width: .125em; border-style: solid}
.group {margin: .2em}
.id {color: #aaa; font-size: .72em; float: right}
.images div {margin: .1em}
.interactionCount .count {font-weight: bold; border-radius: 0 .38em .38em 0}
.interactionCount .type {border-radius: .38em 0 0 .38em}
.interactionCount span {background-color: #fff; color: #000; padding: .1em}
.interactionCount {white-space: nowrap; margin: .06em}
.links .host img {max-width: 4em}
.links .host {text-align: right}
.links .path a {font-weight: normal}
.links .path a::first-letter {font-weight: bold; background-color:#aaa; color:#000; border-radius: .18em}
.path_crumb {color: #bbb}
.post .content {border-radius: 0 .4em .38em .38em; border: 1px solid #666; margin: 0; padding: 0 0 0 .2em}
.post .creator a, .post .to a {color: #000}
.post .creator {float: right}
.post .title { border-radius: .4em .4em 0 0}
.post .to {margin-left: -.2em; float: left}
.post a.pointer {font-size: .8em; color: #aaa; font-weight: normal; margin: 0; float: right}
.post a.pointer:visited {background-color: #888; color: #000}
.post {margin: 0 .25em 0 0; max-width: 100%}
.post.im .creator {float: none}
.post.im, .post.im > .content {margin: 0; padding: 0; border-width: 0}
.posts > a.group {color: #000; vertical-align: top; margin: 0; padding: .1em; border-radius: 0 0 .4em 0}
.posts {border-style: solid; border-width: 0.125em; padding: 0; margin: .25em}
.preembed .icon {position: absolute; left: 45%; top: 35%; font-size: 8em; color: #f00}
.preembed {position: relative; vertical-align: top}
.stats > span {font-size: .96em; color: #eee}
.stats {background-color: #000; border-radius: 0 0 .5em .5em}
.title {font-size: 1.1em; background-color: #bbb; color: #000; margin: 0; padding: .1em}
.title:visited {background-color: #dbdbdb}
.toolbox .path {color: #aaa; font-size: .8em}
.toolbox form input {background-color: #000; color: #fff; border-radius: .5em; border-width: 0; font-size: .8em}
.toolbox svg {height: 1em; width: 1em}
.toolbox {vertical-align: top; font-size: 1.33em; color: #fff; text-shadow: 1px 1px #000}
.video {border: solid .3em #444; background-color: #000; margin: .2em;  border-radius: .5em}
.warning {background-color: #ff0; color: #000; font-size: 1.1em}
:target, :target > span {background-color: #2ef !important; color: #000 !important; opacity: 1.0}
a img {float: left}
a span {color: #bbb; font-weight: normal; font-size: 0.82em}
a {text-decoration: none; border-radius: .2em; color: #fff; font-weight: bold; margin: 0; padding: 0 .125em 0 .125em; max-width: 40em; overflow: hidden; vertical-align: top}
a.date {white-space: nowrap; float: right; background-color: #aaa; color: #000; border-radius: .2em; margin: 0; font-size: .8em}
a.global, a.global span.id {background-color: #115}
a.global, a.local {border: 1px solid #333333; border-radius: .38em; margin: 1px}
a.global:visited, a.global:visited span.id {background-color: #406}
a.local {background-color: #000}
a.local:visited, a.local:visited span.id {background-color: #222; border-color: #444}
audio {width: 80ex; float: right}
blockquote, blockquote > p, .greentext, .quote, .q, .QuotedText {background-color: #ccc; color: #000; padding-left: .25em}
blockquote, ol, p, ul {max-width: 80ex}
body, figcaption, li, p, pre, span {background-color: #000; color: #fff; font-family: Noto Sans, DejaVu Sans, Sans Serif}
body.error > pre > a {color: #fff; font-size: 12ex; text-decoration: none}
body.error > pre {margin: auto; max-width: 120ex; white-space: pre-wrap}
body.error {background: #f00; font-weight: bold}
code {color: #000; background-color: #eee; padding: .1em}
div, a, svg, form, pre, table, textarea {display: inline-block}
iframe, .preembed {border: .2em solid #fff}
iframe.main_player {border: .25em solid red}
img {border-radius: .3em}
img, video, table {max-width: 100%}
li, p {margin: 1px; border-radius: .2em}
li:nth-child(even), tr:nth-child(even) > td.v {background-color: #000}
li:nth-child(odd), tr:nth-child(odd) > td.v {background-color: #222}
ol, ul {border: 1px solid #333; border-radius: .3em; background-color: #111}
pre, code {white-space: pre-wrap; font-family: Consolas,'Courier New',Courier,monospace; max-width: 255ex}
pre, ul, ol, blockquote, h1, h2, h3, h4, h5, h6 {margin: 0}
svg, img[src*="svg"] {max-width:2em; max-height: 2em}
table.kv {border: 1px solid #333}
table.kv, table.tabular {border-spacing: 0}
table.tabular td {padding: 0; border-width: 0 1px 1px 0; border-style: dotted; border-color: #4d4d4d; vertical-align: top}
td.k a, th[scope="row"] a {color: #000; background-color: #a8a8a8; border-radius: .4em 0 0 .4em; max-width: 28ex; padding: 0 .1em 0 .1em}
td.k, th[scope="row"] {text-align: right; font-weight: bold}
td[property="http://rdfs.org/sioc/ns#addressed_to"] > a {white-space: nowrap}
video {min-width: 40ex}
